<%- include('../includes/head') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(products.length > 0) {%>
        <ul>
            <% products.forEach( p => { %>
            <li><%= p.title %> (<%= p.quantity %>)</li>
            <form action="/cart/delete-product" method="POST">
                <input type="hidden" name="productId" value="<%= p._id %>">
                <button class="btn" type="submit">Delete</button>
            </form>
            <%}) %>
        </ul>
        <form action="/create-order" method="POST">
            <button class="btn" type="submit">Order Now!</button>
        </form>
        <% } else { %>
        <h1><%= warningMessage %></h1>
        <% } %>
    </main>
    <%- include('../includes/end') %>