<%- include('../includes/head') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(orders.length <= 0) {%>
        <h1>No items yet!</h1>
        <%} else {%>
        <ul>
            <% orders.forEach(order => {%>
            <li>OrderID <%=order._id%></li>
            <%if(order.items.length > 0){%>
            <ul>
                <%order.items.forEach(product => {%>
                <li><%=product.title%> #<%=product.quantity%></li>
                <%})%>
            </ul>
            <%}%>
            <%})%>
        </ul>
        <%}%>
    </main>
    <%- include('../includes/end') %>